In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
item = pd.read_csv('/content/drive/MyDrive/DMC_2020/DMC_2020/items.csv',sep = '|')
tr = pd.read_csv('/content/drive/MyDrive/DMC_2020/DMC_2020/transactions.csv',sep = '|')
tr.columns = ['sessionID', 'itemID', 'click', 'basket', 'order']
eval = pd.read_csv('/content/drive/MyDrive/DMC_2020/DMC_2020/evaluation.csv',sep = '|')
eval.columns = ['itemID']

In [ ]:
item

       itemID  ...                      subtopics
0       21310  ...                          [5AH]
1       73018  ...  [5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]
2       19194  ...                      [5AP,FBA]
3       40250  ...           [5AC,5AD,YBG,YBL,YF]
4       46107  ...   [WD,WFTM,YBG,YBL,YBLD,YBLN1]
...       ...  ...                            ...
78025   37678  ...                          [YFJ]
78026   68688  ...                             []
78027   57291  ...                             []
78028   78130  ...                      [YFG,YFH]
78029   68789  ...                             []

[78030 rows x 6 columns]

In [ ]:
tr

        sessionID  itemID  click  basket  order
0               0   21310      1       0      0
1               1   73018      1       0      0
2               2   19194      1       0      0
3               3   40250      1       0      0
4               4   46107      1       0      0
...           ...     ...    ...     ...    ...
365138     279351   70183      1       0      0
365139     279352   39716      1       0      0
365140     279353   35260      1       0      0
365141     279353   18805      4       0      0
365142     279354    3083      1       0      0

[365143 rows x 5 columns]

In [ ]:
eval

     itemID
0        12
1     45274
2     10104
3     41371
4     14015
..      ...
995   78384
996   68157
997   44964
998   12971
999   41078

[1000 rows x 1 columns]

In [ ]:
new = pd.merge(eval, tr, on='itemID', how = 'left')
new

      itemID  sessionID  click  basket  order
0         12        NaN    NaN     NaN    NaN
1      45274        NaN    NaN     NaN    NaN
2      10104        NaN    NaN     NaN    NaN
3      41371   138327.0    1.0     0.0    0.0
4      41371   214045.0    1.0     1.0    0.0
...      ...        ...    ...     ...    ...
8202   68157   270888.0    1.0     0.0    0.0
8203   44964    36017.0    1.0     0.0    0.0
8204   12971   124023.0    1.0     0.0    0.0
8205   12971   226727.0    1.0     0.0    0.0
8206   41078        NaN    NaN     NaN    NaN

[8207 rows x 5 columns]

In [ ]:
new1 = pd.merge(new, tr, on='sessionID', how = 'left')
new1

       itemID_x  sessionID  click_x  ...  click_y  basket_y  order_y
0            12        NaN      NaN  ...      NaN       NaN      NaN
1         45274        NaN      NaN  ...      NaN       NaN      NaN
2         10104        NaN      NaN  ...      NaN       NaN      NaN
3         41371   138327.0      1.0  ...      1.0       0.0      0.0
4         41371   214045.0      1.0  ...      1.0       1.0      0.0
...         ...        ...      ...  ...      ...       ...      ...
25602     68157   270888.0      1.0  ...      1.0       0.0      0.0
25603     44964    36017.0      1.0  ...      1.0       0.0      0.0
25604     12971   124023.0      1.0  ...      1.0       0.0      0.0
25605     12971   226727.0      1.0  ...      1.0       0.0      0.0
25606     41078        NaN      NaN  ...      NaN       NaN      NaN

[25607 rows x 9 columns]

In [ ]:
new1.drop(['itemID_y', 'click_y', 'basket_y', 'order_y'], axis='columns' ,inplace = True)
new1

       itemID_x  sessionID  click_x  basket_x  order_x
0            12        NaN      NaN       NaN      NaN
1         45274        NaN      NaN       NaN      NaN
2         10104        NaN      NaN       NaN      NaN
3         41371   138327.0      1.0       0.0      0.0
4         41371   214045.0      1.0       1.0      0.0
...         ...        ...      ...       ...      ...
25602     68157   270888.0      1.0       0.0      0.0
25603     44964    36017.0      1.0       0.0      0.0
25604     12971   124023.0      1.0       0.0      0.0
25605     12971   226727.0      1.0       0.0      0.0
25606     41078        NaN      NaN       NaN      NaN

[25607 rows x 5 columns]

In [ ]:
d = new1.rename(columns={'itemID_x':'itemID', 'click_x': 'click', 'basket_x': 'basket', 'order_x': 'order'}, inplace = False)
d

       itemID  sessionID  click  basket  order
0          12        NaN    NaN     NaN    NaN
1       45274        NaN    NaN     NaN    NaN
2       10104        NaN    NaN     NaN    NaN
3       41371   138327.0    1.0     0.0    0.0
4       41371   214045.0    1.0     1.0    0.0
...       ...        ...    ...     ...    ...
25602   68157   270888.0    1.0     0.0    0.0
25603   44964    36017.0    1.0     0.0    0.0
25604   12971   124023.0    1.0     0.0    0.0
25605   12971   226727.0    1.0     0.0    0.0
25606   41078        NaN    NaN     NaN    NaN

[25607 rows x 5 columns]

In [ ]:
df = pd.merge(d, item, on = 'itemID', how='left')

In [ ]:
df.head(10)

   itemID  sessionID  click  ...               publisher  main topic    subtopics
0      12        NaN    NaN  ...                 Xlibris          FM           []
1   45274        NaN    NaN  ...              AVON BOOKS        YFCF  [YFZR,YXHB]
2   10104        NaN    NaN  ...           Linda Appleby         YFB         [YX]
3   41371   138327.0    1.0  ...  Ulisses Spiel & Medien          FM   [FMB,WDHW]
4   41371   214045.0    1.0  ...  Ulisses Spiel & Medien          FM   [FMB,WDHW]
5   41371   234864.0    1.0  ...  Ulisses Spiel & Medien          FM   [FMB,WDHW]
6   41371   278321.0    1.0  ...  Ulisses Spiel & Medien          FM   [FMB,WDHW]
7   41371   278321.0    1.0  ...  Ulisses Spiel & Medien          FM   [FMB,WDHW]
8   41371   278321.0    1.0  ...  Ulisses Spiel & Medien          FM   [FMB,WDHW]
9   14015        NaN    NaN  ...        STONE ARCH BOOKS        YFCF        [XQK]

[10 rows x 10 columns]

# Content Based

In [ ]:
# let's check up the title to determine what to process in the string
df['title'][0]

'Breathtaking'

In [ ]:
df.shape

(25607, 10)

In [ ]:
df['main topic'][0]

'FM'

In [ ]:
df['subtopics'] = df['subtopics'].astype(str).str.replace(r'\[|\]|,', '')

In [ ]:
#I have thought of processing all the strings together. So joined all of them to product details column and dropped the used 
# columns
df['product_details'] = df['basket'].astype(str) + df['main topic'] + df['subtopics']
#df.drop(columns = ['title', 'main topic', 'subtopics'],inplace=True)
df.head()

   itemID  sessionID  click  ...  main topic  subtopics  product_details
0      12        NaN    NaN  ...          FM                       nanFM
1   45274        NaN    NaN  ...        YFCF   YFZRYXHB  nanYFCFYFZRYXHB
2   10104        NaN    NaN  ...         YFB         YX         nanYFBYX
3   41371   138327.0    1.0  ...          FM    FMBWDHW     0.0FMFMBWDHW
4   41371   214045.0    1.0  ...          FM    FMBWDHW     1.0FMFMBWDHW

[5 rows x 11 columns]

In [ ]:
df['product_details'] = df['product_details'].str.lower()
df.head()

   itemID  sessionID  click  ...  main topic  subtopics  product_details
0      12        NaN    NaN  ...          FM                       nanfm
1   45274        NaN    NaN  ...        YFCF   YFZRYXHB  nanyfcfyfzryxhb
2   10104        NaN    NaN  ...         YFB         YX         nanyfbyx
3   41371   138327.0    1.0  ...          FM    FMBWDHW     0.0fmfmbwdhw
4   41371   214045.0    1.0  ...          FM    FMBWDHW     1.0fmfmbwdhw

[5 rows x 11 columns]

In [ ]:
df.shape

(25607, 11)

In [ ]:

# so we are going to make a vector of words to make word to word n_gram and calculate cosine similarities
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

https://heartbeat.fritz.ai/recommender-systems-with-python-part-i-content-based-filtering-5df4940bd831

In [ ]:
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
df['product_details'] = df['product_details'].fillna('')

In [ ]:
tfv_matrix = tfv.fit_transform(df['product_details'])
tfv_matrix

<25607x844 sparse matrix of type '<class 'numpy.float64'>'
	with 88711 stored elements in Compressed Sparse Row format>

In [ ]:
tfv_matrix.shape

(25607, 844)

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
sig = linear_kernel(tfv_matrix, tfv_matrix)

In [ ]:
results = {}
for idx, row in df.iterrows():

   similar_indices = sig[idx].argsort()[:-100:-1] 
   similar_items = [(sig[idx][i], df['itemID'][i]) for i in similar_indices] 
   results[row['itemID']] = similar_items[1:]

In [ ]:
def item1(itemID):  
  return df.loc[df['itemID'] == itemID]['itemID'].astype(str).tolist()[0].split(' - ')[0] 
# Just reads the results out of the dictionary.def

In [ ]:
evalList = eval['itemID'].tolist()

In [ ]:
def myFun(evaluation_list):
  finalList = []
  for i in evaluation_list:
    try:
      item_id1 = i
      num = 10

      recs = results[item_id1][:num]   
      recomList = []
      recomList.append(item_id1)
      for rec in recs: 
        #print("Recommended: " + item1(rec[1]) + " (score:" +      str(rec[0]) + ")")
        recomList.append(item1(rec[1]))
      finalList.append(recomList)
    except:
      pass  

  evalDf = pd.DataFrame(columns=['itemID', 'rec1', 'rec2','rec3','rec4','rec5','rec6','rec7','rec8','rec9','rec10'], data= finalList)
  evalDf.to_csv('evaluationCalc.csv')

In [ ]:
myFun(evalList)

# New Section